/* Carousel */
.carousel-caption h5 {
    font-size: 1.8em;
}

.carousel-caption p {
    font-size: 1em;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.carousel {
    display: flex;
    flex-direction: column;
    height: calc(100%);
    justify-content: center;

    .carousel-inner {
        height: 100%;

        .carousel-item {
            height: 100%;

            .carousel-custom-top {
                display: flex !important;
                height: 50% !important;

                img {
                    height: fit-content !important;
                    display: flex;
                    align-self: end;
                }
            }

            .carousel-custom-bottom {
                display: flex !important;
                height: 50% !important;
                width: 100%;

                .carousel-caption {
                    width: 100%;

                    h5 {
                        margin-top: 20px;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    .carousel-footer {
        display: flex !important;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;
        height: 40px;

        p {
            font-family: 'Poppins';
            font-size: 1em;
            color: #3C46A7;
        }

        div {
            button {
                width: 10px !important;
                height: 10px !important;
                background-color: #EFEFEF;
                border: none !important;
                opacity: 1 !important;
                border-radius: 5px;
            }

            button:nth-of-type(2) {
                margin: 0 10px;
            }

            .active {
                background-color: #f9617d !important;
            }
        }
    }
}

.carousel-caption {
    position: relative !important;
    color: #4C56C0;
    left: initial !important;
    right: initial !important;
}