<div class="lobby-container container-fluid px-0">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5 p-0 flyingdarts-mobile-container">
            <div class="calc-header">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="row text-center">
                            <p class="mb-0">{{ player_score }}</p>
                        </div>
                        <div class="row text-center">
                            <p class="mb-4">{{ player_name }}</p>
                        </div>
                        <div class="row text-center">
                            <h3 class="mb-0">AVG: {{ player_avg }}</h3>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row text-center">
                            <p class="mb-0">{{ opponent_score }}</p>
                        </div>
                        <div class="row text-center">
                            <p class="mb-4">{{ opponent_name }}</p>
                        </div>
                        <div class="row text-center">
                            <h3 class="mb-0">AVG: {{ opponent_avg }}</h3>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-12">
                        <div class="row text-center">
                            <div>
                                <button class="btn btn-success btn-total"
                                    (click)="sendScore()">{{lastThreeSum}}</button>
                                <button class="btn btn-warning" (click)="resetInput()"><i
                                        class="material-icons">restart_alt</i></button>
                            </div>
                            <!-- <p class="mb-0 mt-3">{{ currentInput }} </p> -->
                            <p class="mb-0 mt-3">{{ lastThreeString }} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-2 g-0">
                    <div *ngFor="let item of playerScores">
                        <span>
                            {{item.score}} - {{item.input}}
                        </span>
                    </div>
                </div>
                <div class="col-8 g-0">
                    <app-dartboard (targetPressedEvent)="dartBoardInput($event)"></app-dartboard>
                </div>
                <div class="col-2 g-0">
                    <div *ngFor="let item of opponentScores">
                        <span>
                            {{item.score}} - {{item.input}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5" id="jitsi-iframe"></div>
    </div>
</div>