<div class="lobby-container container-fluid px-0">
    <div class="col-sm-0 col-md-12 col-lg-7 top-container">
        <div class="d-flex flex-column h-100">
            <p class="invite-link">{{ inviteLink }}</p>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h1>Player 1</h1>
                    <br />
                    <ul>
                        <li *ngFor="let item of player">
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <br />
                <div class="col-lg-6 text-center">
                    <h1>Player 2</h1>
                    <br />
                    <ul>
                        <li *ngFor="let item of opponent">
                            {{ item }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 p-0 flyingdarts-mobile-container">
        <div class="calc-header">
            <div class="row g-0">
                <div class="col-6">
                    <div class="row text-center">
                        <p class="mb-0">{{ player_score }}</p>
                    </div>
                    <div class="row text-center">
                        <p class="mb-4">Kljin</p>
                    </div>
                    <div class="row text-center">
                        <h3 class="mb-0">AVG: {{ player_avg }}</h3>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row text-center">
                        <p class="mb-0">{{ opponent_score }}</p>
                    </div>
                    <div class="row text-center">
                        <p class="mb-4">Grootn</p>
                    </div>
                    <div class="row text-center">
                        <h3 class="mb-0">AVG: {{ opponent_avg }}</h3>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-12">
                    <div class="row text-center">
                        <p class="mb-0 mt-3">T20 T20 T12</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- HTML for the dartboard -->
        <div id="wrapper">
        </div>
    </div>
</div>

<script>

    window.onload = function () {
        createSVG();
        showDartBoard(boardElemArray());
        const targets = document.getElementsByClassName("target");
        for (i = 0; i < targets.length; i++) {
            targets[i].addEventListener("click", showScore);
        }
    };

    function createPointArray() {
        const angle = convertToRad(4.5);
        let array = [];
        const pOne = [700, 700];
        array.push(pOne);
        DeterminePoint(angle, array, 300);
        DeterminePoint(angle, array, 350);
        DeterminePoint(angle, array, 550);
        DeterminePoint(angle, array, 600);
        DeterminePoint(angle, array, 625);
        return array;
    }

    function convertToRad(num) {
        return Math.PI * num / 180;
    }

    function DeterminePoint(angle, array, height) {
        for (i = 0; i < 2; i++) {
            let point = [];
            let y = 2 * height * Math.sin(angle) * Math.sin(angle);
            let x = 2 * height * Math.sin(angle) * Math.cos(angle);
            i === 0
                ? (point = [700 + x, 700 - height + y])
                : (point = [700 - x, 700 - height + y]);
            array.push(point);
        }
    }

    function createSVG() {
        const points = createPointArray();
        const svg = addAttributes("svg", [
            ["viewBox", "0 0 1400 1400"],
            ["width", "600"],
            ["id", "dartboard"]
        ]);
        const zero = addAttributes("circle", [
            ["cx", "700"],
            ["cy", "700"],
            ["r", "700"],
            ["fill", "black"],
            ["id", "zero"],
            ["value", 0]
        ]);
        zero.classList.add("target");
        const text = addAttributes("text", []);
        const numbers = [
            20,
            17,
            2,
            15,
            10,
            6,
            13,
            4,
            18,
            1,
            3,
            19,
            7,
            16,
            8,
            11,
            14,
            9,
            12,
            5
        ];
        svg.appendChild(zero);
        let color;
        let paths = [
            `M${points[0][0]},${points[0][1]}L${points[1][0]},${points[1][1]
            }A300 300 0 0 0 ${points[2][0]},${points[2][1]}Z`,
            `M${points[2][0]},${points[2][1]}A300 300 0 0 1 ${points[1][0]},${points[1][1]
            }L${points[3][0]},${points[3][1]}A350 350 0 0 0 ${points[4][0]},${points[4][1]
            }Z`,
            `M${points[4][0]},${points[4][1]}A350 350 0 0 1 ${points[3][0]},${points[3][1]
            }L${points[5][0]},${points[5][1]}A550 550 0 0 0 ${points[6][0]},${points[6][1]
            }Z`,
            `M${points[6][0]},${points[6][1]}A550 550 0 0 1 ${points[5][0]},${points[5][1]
            }L${points[7][0]},${points[7][1]}A600 600 0 0 0 ${points[8][0]},${points[8][1]
            }Z`,
            `M${points[10][0]},${points[10][1]}A625 625 0 0 1${points[9][0]},${points[9][1]
            }`
        ];
        let classes = ["inner", "triple", "outer", "double", "number"];
        for (j = 0; j < 20; j++) {
            for (i = 0; i < 5; i++) {
                color =
                    i === 4
                        ? "transparent"
                        : i % 2 === 0 && j % 2 === 0
                            ? "black"
                            : i % 2 !== 0 && j % 2 === 0
                                ? "red"
                                : i % 2 === 0 && j !== 0 ? "beige" : "green";
                const path = addAttributes("path", [
                    ["d", paths[i]],
                    ["class", classes[i]],
                    ["fill", color],
                    ["value", numbers[j]]
                ]);
                if (i === 4) {
                    path.setAttribute("id", `text${j}`);
                    path.style.opacity = "1";
                    const textP = addAttributes("textPath", [
                        ["href", `#text${j}`],
                        ["class", "elem"],
                        ["startOffset", "50%"],
                        ["text-anchor", "middle"]
                    ]);
                    textP.innerHTML = numbers[j];
                    text.appendChild(textP);
                } else {
                    path.classList.add("target");
                }
                svg.appendChild(path);
            }
        }
        svg.appendChild(text);
        const bull = addAttributes("circle", [
            ["cx", "700"],
            ["cy", "700"],
            ["r", "30"],
            ["fill", "red"],
            ["class", "target"],
            ["id", "dbull"],
            ["value", 50]
        ]);
        const sbull = addAttributes("circle", [
            ["cx", "700"],
            ["cy", "700"],
            ["r", "60"],
            ["fill", "green"],
            ["class", "target"],
            ["id", "sbull"],
            ["value", 25]
        ]);
        svg.appendChild(sbull);
        svg.appendChild(bull);
        document.getElementById("wrapper").appendChild(svg);
    }

    function boardElemArray() {
        const a = document.getElementsByClassName("inner");
        const b = document.getElementsByClassName("triple");
        const c = document.getElementsByClassName("outer");
        const d = document.getElementsByClassName("double");
        const z = document.getElementsByClassName("number");
        return (array = [a, b, c, d, z]);
    }

    function showDartBoard(array) {
        TweenMax.to("#dbull", 1, { opacity: 1 });
        TweenMax.to("#sbull", 2, { opacity: 1 });
        for (i = 0; i < array.length; i++) {
            const item = array[i];
            const bb = item[0].getBBox();
            const to = `${700 - bb.x} ${700 - bb.y}`;
            setTimeout(
                function () {
                    animationBoard(item, to);
                },
                i * 400,
                item,
                to
            );
        }
        TweenMax.to("#zero", 1, { opacity: 1, delay: 6 });
    }

    function animationBoard(d, to) {
        TweenMax.to(d[10], 1, { rotation: 180, transformOrigin: to, opacity: 1 });
        for (i = 1; i < 10; i++) {
            TweenMax.to(d[i], 1, {
                rotation: 180 - 18 * i,
                transformOrigin: to,
                opacity: 1,
                delay: 0.5 * i
            });
            TweenMax.to(d[i + 10], 1, {
                rotation: -180 + 18 * i,
                transformOrigin: to,
                opacity: 1,
                delay: 0.5 * i
            });
        }
        TweenMax.to(d[0], 1, {
            rotation: 0,
            transformOrigin: to,
            opacity: 1,
            delay: 5
        });
    }

    function addAttributes(elem, array) {
        const item = document.createElementNS("http://www.w3.org/2000/svg", elem);
        for (l = 0; l < array.length; l++) {
            item.setAttribute(array[l][0], array[l][1]);
        }
        return item;
    }

    function showScore(e) {
        let amount = e.target.getAttribute("value");
        e.target.classList.contains("double")
            ? (amount = 2 * amount)
            : e.target.classList.contains("triple")
                ? (amount = 3 * amount)
                : (amount = amount);
        console.log(parseFloat(amount));
    }

</script>