<div class="container body-content">
  <div class="card">
    <div class="card-body">
      <div class="container px-0">
        <div class="flyingdarts-login-container d-flex">
          <div class="col-sm-0 col-md-12 col-lg-8 top-container">
            <div class="d-flex flex-column justify-content-between h-100">
              <div>
                <p>Player</p>
              </div>
              <div class="row">
                <div class="column">
                  <textarea
                    [(ngModel)]="content"
                    name="contentInput"
                    cols="40"
                    rows="5"
                  ></textarea>
                  <br />
                  <button (click)="sendMsg()">Send Message</button>
                </div>
              </div>
              <br />
              <div>
                <h1>Sent Messages</h1>
                <br />
                <ul>
                  <li *ngFor="let item of sent">
                    Source: {{ item.source }} -> Content {{ item.content }}
                  </li>
                </ul>
              </div>
              <br />
              <div>
                <h1>Received Messages</h1>
                <br />
                <ul>
                  <li *ngFor="let item of received">
                    Source: {{ item.source }} -> Content {{ item.content }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="col-sm-12 col-md-12 col-lg-4 p-0 flyingdarts-mobile-container"
          >
            <div class="calc-header">
              <div class="row g-0">
                <div class="col-12">
                  <div class="row text-center">
                    <h1 class="mb-0 mt-3">FLYINGDARTS</h1>
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-6">
                  <div class="row text-center">
                    <p class="mb-0">501</p>
                  </div>
                  <div class="row text-center">
                    <p class="mb-4">Player 1</p>
                  </div>
                  <div class="row text-center">
                    <h3 class="mb-0">AVG: 45</h3>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row text-center">
                    <p class="mb-0">501</p>
                  </div>
                  <div class="row text-center">
                    <p class="mb-4">Player 2</p>
                  </div>
                  <div class="row text-center">
                    <h3 class="mb-0">AVG: 45</h3>
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-12">
                  <div class="row text-center">
                    <p class="mb-0 mt-3">T20 T20 T12</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="calc-body d-flex flex-column">
              <div class="d-flex">
                <div class="d-flex">
                  <p>1</p>
                </div>
                <div class="d-flex">
                  <p>121</p>
                </div>
                <div class="d-flex">
                  <p>1</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="d-flex">
                  <p>26</p>
                </div>
                <div class="d-flex">
                  <p>1</p>
                </div>
                <div class="d-flex">
                  <p>2</p>
                </div>
                <div class="d-flex">
                  <p>3</p>
                </div>
                <div class="d-flex">
                  <p>60</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="d-flex">
                  <p>41</p>
                </div>
                <div class="d-flex">
                  <p>4</p>
                </div>
                <div class="d-flex">
                  <p>5</p>
                </div>
                <div class="d-flex">
                  <p>6</p>
                </div>
                <div class="d-flex">
                  <p>85</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="d-flex">
                  <p>45</p>
                </div>
                <div class="d-flex">
                  <p>7</p>
                </div>
                <div class="d-flex">
                  <p>8</p>
                </div>
                <div class="d-flex">
                  <p>9</p>
                </div>
                <div class="d-flex">
                  <p>100</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="d-flex">
                  <p>CLEAR</p>
                </div>
                <div class="d-flex">
                  <p>0</p>
                </div>
                <div class="d-flex">
                  <p>NO SCORE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
