<div class="lobby-container container-fluid px-0">
    <div class="row h-100 calc-row">
        <div class="col-sm-12 col-md-12 col-lg-4 p-0 calc-container">
            <div class="calc-header">
                <div class="row stats-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-start" colspan="2">{{tableHeader}}</th>
                                <th>Sets</th>
                                <th class="text-start" colspan="2">Legs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-start">{{playerName}}</td>
                                <td><i class="flag-icon"></i></td>
                                <td>{{playerSets}}</td>
                                <td>{{playerLegs}}</td>
                                <td>{{playerScore}}</td>
                            </tr>
                            <tr class="history-row">
                                <td colspan="5">
                                    <small>
                                        {{ playerHistory$ | async }}
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">{{opponentName}}</td>
                                <td><i class="flag-icon"></i></td>
                                <td>{{opponentSets}}</td>
                                <td>{{opponentLegs}}</td>
                                <td>{{opponentScore}}</td>
                            </tr>
                            <tr class="history-row">
                                <td colspan="5">
                                    <small>
                                        {{ opponentHistory$ | async }}
                                    </small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row g-0 button-container">
                    <div class="col-12">
                        <div class="row text-center">
                            <div>
                                <button [disabled]="inputShouldBeDisabled" class="btn btn-success btn-total"
                                    (click)="sendScore()">{{input.Sum}}</button>
                                <button [disabled]="inputShouldBeDisabled" class="btn btn-warning"
                                    (click)="resetInput()"><i class="material-icons">restart_alt</i></button>
                            </div>
                            <!-- <p class="mb-0 mt-3">{{ currentInput }} </p> -->
                            <p class="mb-0 mt-3">{{ input.getString }} </p>
                        </div>
                    </div>
                </div>
                <div class="row g-0 p-0 dartboard-container">
                    <div class="col-12 g-0">
                        <app-dartboard (targetPressedEvent)="dartBoardInput($event)"></app-dartboard>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 p-0" id="jitsi-iframe"></div>
    </div>
</div>