<div class="w-100 vh-100">
  <amplify-authenticator [hideSignUp]="true" initialState="signIn">
    <ng-template amplifySlot="sign-in">
      <div class="container body-content">
        <div class="card">
          <div class="card-body">
            <div class="container px-0">
              <div class="flyingdarts-login-container d-flex">
                <div class="col-sm-0 col-md-12 col-lg-8 top-container">
                  <app-carousel></app-carousel>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 p-0 flyingdarts-mobile-container">
                  <amplify-authenticator>
                    <ng-template amplifySlot="sign-in" let-validationErrors="validationErrors">
                      <h1 class="fw-bold my-sign-in-header">Flyingdarts</h1>
                      <amplify-authenticator></amplify-authenticator>
                      <div class=" d-flex">
                        <amplify-checkbox class="my-amplify-checkbox checkbox-control"
                          [errorMessage]="validationErrors.acknowledgement"
                          [hasError]="!!validationErrors.acknowledgement" name="acknowledgement" value="yes">
                        </amplify-checkbox>
                        <span>
                          By clicking Confirm, you agree to our <a href="#">Terms of Service</a>
                          and <a href="#">Privacy policy</a>
                        </span>
                      </div>
                    </ng-template>
                  </amplify-authenticator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
      <div class="container body-content">
        <div class="card">
          <div class="flyingdarts-navbar">
            <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid justify-content-space-between">
                <ng-lottie [options]="lottieOptions" (animationCreated)="onAnimate($event)"></ng-lottie>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <img src="./../assets/icons/white_SKINNY_burger.svg" alt="menu" />
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link" aria-current="page" (click)="signOut()">Signout</a>
                    </li>
                  </ul>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Ranked</label>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-5 col-md-12 col-12">
            <h2 id="secretStatusBar" class="text-center">Welcome back <strong>{{userName}}</strong>. Good game and have
              fun.</h2>
          </div>
          <div class="card-body">
            <div class="container px-0">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </amplify-authenticator>
  <app-loading></app-loading>
</div>