.flyingdarts-mobile-container {
    color: white;
    background: #4c56c0;
    align-items: center;
    padding: 0 20px !important;
    align-self: center;
    height: 100%;
    display: grid;
    align-content: center;
    height: 100%;
}

.flyingdarts-login-main {
    width: 100%;
}

.flyingdarts-login-container {
    height: 100%;
    width: 100%;
}



.checkbox-control {
    background-color: #4c56c0;
    border: none;
    color: white;
    display: flex;
    font-size: 10px;
    line-height: 16px;
}
.body-content {
    margin: 0;
    padding: 0;
}

.card {
    border: none;
}


.card-body {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 15px;
}