<div class="container">
    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Name</th>
                        <th>Avg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players">
                        <td></td>
                        <td>{{player.id}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mx-5">
                <button type="button" class="btn btn-primary" (click)="joinLobby()">Join lobby</button>
                <button type="button" class="btn btn-primary mx-1" (click)="createPlayerRoom()">Create room</button>
                <button type="button" class="btn btn-primary mx-1" (click)="signOut()">Sign out</button>
            </div>
        </div>
    </div>
</div>