<dyte-ui-provider id="dyte-provider" class="fd-meet-root">
  <div
    class="fd-meet-video-wrap video-container fd-w-100 fd-overflow-hidden"
    [class.video-hidden]="!isVisible"
  >
    <video
      #localVideo
      id="localVideo"
      class="opponent-video fd-rounded"
      autoplay
      [class.main-video]="isPlayerTurn"
      [class.corner-video]="!isPlayerTurn"
    ></video>
    <video
      #opponentVideo
      id="opponentVideo"
      class="opponent-video fd-rounded"
      autoplay
      [class.main-video]="!isPlayerTurn"
      [class.corner-video]="isPlayerTurn"
    ></video>
  </div>

  <div class="fd-meet-settings-bar">
    <dyte-settings-toggle [hidden]="showSettings" (click)="openSettings()" class="dyte"></dyte-settings-toggle>
    <div class="fd-meet-settings-cluster" [hidden]="!showSettings">
      <button type="button" [hidden]="!showSettings" class="fd-btn fd-btn-ghost fd-btn-sm fd-meet-close" (click)="closeSettings()">
        <i class="bi bi-x-lg"></i>
      </button>
      <dyte-settings [hidden]="!showSettings"></dyte-settings>
    </div>
  </div>

  <div class="fd-meet-mic">
    <dyte-mic-toggle class="dyte"></dyte-mic-toggle>
  </div>

  <div class="fd-meet-pip">
    <div class="fd-flex fd-justify-end fd-mb-2">
      <video
        #opponentVideoSmall
        id="opponentVideoSmall"
        class="fd-meet-pip-video fd-rounded corner-video"
        autoplay
        [class.main-video]="isPlayerTurn"
        [class.corner-video]="!isPlayerTurn"
      ></video>
      <video
        #localVideoSmall
        id="localVideoSmall"
        class="fd-meet-pip-video fd-rounded corner-video"
        autoplay
        [class.main-video]="!isPlayerTurn"
        [class.corner-video]="isPlayerTurn"
      ></video>
    </div>
  </div>
  <audio #opponentAudio id="opponentAudio" class="fd-rounded" hidden></audio>
</dyte-ui-provider>
