@if (appStateLoading$ | async) {
  <div class="fd-app-shell">
    <div class="fd-neon-orbs" aria-hidden="true">
      <div class="fd-orb fd-orb1"></div>
      <div class="fd-orb fd-orb2"></div>
      <div class="fd-orb fd-orb3"></div>
      <div class="fd-orb fd-orb4"></div>
    </div>
    <div class="fd-app-loading">
      <ng-lottie [options]="lottieOptions"></ng-lottie>
    </div>
  </div>
} @else {
  <div class="fd-app-shell">
    <div class="fd-neon-orbs" aria-hidden="true">
      <div class="fd-orb fd-orb1"></div>
      <div class="fd-orb fd-orb2"></div>
      <div class="fd-orb fd-orb3"></div>
      <div class="fd-orb fd-orb4"></div>
    </div>
    <div class="fd-app-shell__content">
      <app-navbar></app-navbar>
      <div class="fd-app-shell__outlet">
        <router-outlet />
      </div>
    </div>
  </div>
}
