.flyingdarts-mobile-container {
    color: white;
    background: #4c56c0;
    align-items: center;
    padding: 0 20px !important;
    align-self: center;
    height: 100%;
    display: grid;
    align-content: center;
}

.flyingdarts-login-main {
    width: 100%;
}

.flyingdarts-login-container {
    height: 100%;
}