<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Average Score</th>
        <th>Leaderboard Position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>89</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Emma</td>
        <td>72</td>
        <td>2</td>
      </tr>
      <tr>
        <td>James</td>
        <td>95</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Samantha</td>
        <td>82</td>
        <td>4</td>
      </tr>
      <tr>
        <td>William</td>
        <td>67</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
  