<amplify-authenticator>
    <ng-template amplifySlot="sign-in">
        <h1 class="fw-bold my-sign-in-header">Sign-in</h1>
        <div class="d-flex fw-bold flex-wrap">
            <p class="mb-0 text-secondary my-sign-in-no-account">No account yet?</p>
            &nbsp;<a href="mailto:info@bofiscad.be" class="text-primary my-link">Register here.</a>
        </div>
        <amplify-authenticator [formFields]="signInFormFields"></amplify-authenticator>
    </ng-template>
</amplify-authenticator>