<div class="flyingdarts-login-main">
  <h1 class="registration-title text-center">FLYINGDARTS</h1>
  <h2 class="registration-subtitle text-center">Instellen van je account</h2>
  <div id="socialButton">
    <a id="authButton" class="socials-button flex-column" href="{{loginEndpoint}}">
      <!-- <lottie-player id="connectedWithSocial" src="@ViewBag.LottieAnimationCheckmarkUrl" background="transparent"
        speed="1" style="width: 300px; height: 300px; position: absolute; display: none;" autoplay></lottie-player> -->
      Verbinden met social media<br><span class="socials-button-subtitle">Niet verbonden</span>
    </a>
  </div>
  <app-accept-toc></app-accept-toc>
</div>
