<div class="w-100 vh-100">
  <amplify-authenticator [formFields]="signInFormFields" [hideSignUp]="true">
    <!-- <ng-template amplifySlot="sign-in-header">
       <div class="d-flex justify-content-center align-items-center vh-100">
       </div>
    </ng-template> -->
    <ng-template amplifySlot="sign-in">
      <div class="d-flex flex-column align-items-center w-100 vh-100 justify-content-center">
        <form data-amplify-form class="container-fluid">
          <div class="col-md-6 offset-md-3 sign-in-header">
            <h1 class="fw-bold">Sign-in</h1>
            <div class="d-flex fw-bold flex-wrap">
              <p class="mb-0 text-secondary">No account yet?</p>
              &nbsp;<a href="mailto:info@bofiscad.be" class="text-primary">Register here.</a>
            </div>
          </div>
          <div class="row g-0 mt-md-4 mt-2">
            <div class="col-md-6 offset-md-3">
              <amplify-authenticator [formFields]="signInFormFields"></amplify-authenticator>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template amplifySlot="reset-password">
      <div class="d-flex flex-column align-items-center w-100 vh-100 justify-content-center">
        <form data-amplify-form class="container-fluid">
          <div class="col-md-6 offset-md-3">
            <h1 class="fw-bold">Wachtwoord herstellen</h1>
            <div class="d-flex fw-bold flex-wrap">
              <p class="mb-0 text-secondary">Vul je emailadres aan, we sturen je dan een code waarna je
                dan een nieuw wachtwoord kan invoeren.</p>
            </div>
          </div>
          <div class="row g-0 mt-md-4 mt-2">
            <div class="col-md-6 offset-md-3">
              <amplify-authenticator [formFields]="signInFormFields"></amplify-authenticator>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template amplifySlot="confirm-reset-password">
      <div class="d-flex flex-column align-items-center w-100 vh-100 justify-content-center">
        <form data-amplify-form class="container-fluid">
          <div class="col-md-6 offset-md-3">
            <h1 class="fw-bold">Wachtwoord herstellen voltooien</h1>
            <div class="d-flex fw-bold flex-wrap">
              <p class="mb-0 text-secondary">
                We hebben een e-mail verstuurd naar met een eenmalige code, vul de code aan in
                onderstaand veld en een nieuw wachtwoord om je account te herstellen.
              </p>
            </div>
          </div>
          <div class="row g-0 mt-md-4 mt-2">
            <div class="col-md-6 offset-md-3">
              <amplify-authenticator></amplify-authenticator>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template amplifySlot="force-new-password">
      <div class="d-flex flex-column align-items-center w-100 vh-100 justify-content-center">
        <form data-amplify-form class="container-fluid">
          <div class="col-md-6 offset-md-3">
            <h1 class="fw-bold">Ingave nieuw wachtwoord</h1>
            <div class="d-flex fw-bold flex-wrap">
              <p class="mb-0 text-secondary">Om je account veiliger te maken vragen we je een nieuw
                wachtwoord op te geven</p>
            </div>
          </div>
          <div class="row g-0 mt-md-4 mt-2">
            <div class="col-md-6 offset-md-3">
              <amplify-authenticator></amplify-authenticator>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
      <div class="page">
        <div class="container-fluid overflow-hidden">
          <div class="row vh-100 overflow-auto">
            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 p-md-2 px-0 bg-primary d-flex sticky-top">
              <div
                class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start text-white">
                <ul
                  class="nav text-uppercase nav-pills text-white mt-5 fw-bold flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                  id="menu">
                  <li class="nav-item">
                    <a [routerLink]="['/', 'dashboard', 'awaiting-approval']" class="nav-link">
                      <img src="/assets/icons/overview-search-icon.svg" /><span
                        class="ms-md-4 align-middle d-none d-sm-inline">Overzicht</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/', 'dashboard', 'my-company', 'my-company-details']" class="nav-link">
                      <img src="/assets/icons/overview-search-icon.svg" /><span
                        class="ms-md-4 align-middle d-none d-sm-inline">Mijn onderneming</span>
                    </a>
                  </li>
                  <!-- <li class="nav-item">
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link">
              <img src="/assets/icons/overview-list-icon.svg" /><span class="ms-md-4 align-middle d-none d-sm-inline">Facturen maken</span>
            </a>
          </li> -->
                  <!-- <li class="nav-item">
            <a href="#" class="nav-link"> <img src="/assets/icons/settings-icon.svg" /><span class="ms-md-4 align-middle d-none d-sm-inline">Instellingen</span> </a>
          </li> -->
                </ul>
                <div class="py-sm-4 w-100 text-center d-none d-sm-block">
                  <button (click)="signOut()" class="btn btn-link p-0 text-white text-decoration-none">afmelden</button>
                </div>
              </div>
            </div>
            <div class="col d-flex flex-column h-sm-100">
              <div class="row p-5 pb-0">
                <div class="col">
                  <img class="img-fluid" src="/assets/logo.png" />
                </div>
              </div>
              <div class="row p-5">
                <main class="col">
                  <router-outlet></router-outlet>
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </amplify-authenticator>
</div>