<div class="container-fluid body-content px-0">
  <div class="card">
    <div class="flyingdarts-navbar">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid justify-content-space-between flyingdarts-nav">
          <ng-lottie id="logo" [options]="lottieOptions" (animationCreated)="onAnimate($event)" p></ng-lottie>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <img src="./../assets/icons/white_SKINNY_burger.svg" alt="menu" />
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/">Home</a>
              </li>
              <li *ngIf="isLoggedIn" class="nav-item">
                <a href="#" routerLink="/chat" class="nav-link" aria-current="page">Chat</a>
              </li>
            </ul>
            <ul *ngIf="!isLoggedIn" class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="#" class="nav-link" aria-current="page" routerLink="/login">Login / Register</a>
              </li>
            </ul>
            <ul *ngIf="isLoggedIn" class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{userName$ | async}}
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" aria-current="page" href="#" routerLink="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" aria-current="page" href="#" routerLink="/settings">Settings</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" aria-current="page" href="#" (click)="signOut()">Logout</a>
                  </li>
                </ul>
              </li>
              <!-- <li class="list-inline-item">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Ranked</label>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="card-body">
      <div class="container-fluid px-0 h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <p class="footer-copy pe-1">© Flyingdarts {{currentYear}}</p>
        <p class="footer-copy">-</p>
        <p class="footer-copy footer-pp-and-tos ps-1 pe-1" aria-current="page" href="#" routerLink="/privacy-policy">Privacy policy</p>
        <p class="footer-copy">-</p>
        <p class="footer-copy footer-pp-and-tos ps-1" aria-current="page" href="#" routerLink="/terms-of-service">Terms of service</p>
      </div>
      <div class="d-flex">
        <a href="https://github.com/flyingdarts" class="github-link"><img clas="footer-github-icon"
            src="/assets/github.svg" class="d-block mx-auto" alt="https://github.com/flyingdarts"></a>

        <a href="https://buymeacoffee.com/mikepattynE" class="github-link"><img clas="footer-github-icon"
            src="/assets/coffee.svg" class="d-block mx-auto" alt="https://buymeacoffee.com/mikepattynE"></a>
      </div>
    </div>
  </div>
</div>