<div class="flyingdarts-navbar">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid justify-content-space-between flyingdarts-nav">
        <ng-lottie id="logo" [options]="lottieOptions" (animationCreated)="onAnimate($event)" p></ng-lottie>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <img src="./../assets/icons/white_SKINNY_burger.svg" alt="menu" />
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/">Home</a>
            </li>
            <li *ngIf="amplifyAuthService.isRegistered$" class="nav-item">
              <a href="#" class="nav-link" aria-current="page" [routerLink]="['/', 'lobby']">Lobby</a>
            </li>
          </ul>
          <ul *ngIf="!amplifyAuthService.isRegistered$" class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="#" class="nav-link" aria-current="page" [routerLink]="['/', 'onboarding', { outlets: { 'onboarding-outlet': ['login']}}]">Login / Register</a>
            </li>
          </ul>
          <ul *ngIf="amplifyAuthService.isRegistered$" class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ userProfileService.userName$ | async}}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" aria-current="page" href="#" [routerLink]="['/', 'account', { outlets: { 'account-outlet': ['profile']}}]">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" aria-current="page" href="#" [routerLink]="['/', 'account', { outlets: { 'account-outlet': ['settings']}}]">Settings</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" aria-current="page" href="#" (click)="amplifyAuthService.signOut()">Logout</a>
                </li>
              </ul>
            </li>
            <!-- <li class="list-inline-item">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Ranked</label>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </div>