@import '../../../../../colors.scss';

.flyingdarts-mobile-container {
    color: white;
    background: #4c56c0;
    align-items: center;
    padding: 0 20px !important;
    align-self: center;
    height: 100%;
    align-content: center;
    height: 100%;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.flyingdarts-login-main {
    width: 100%;
}

.flyingdarts-login-container {
    height: 100%;
    width: 100%;
}

.body-content {
    margin: 0;
    padding: 0;
}

.card {
    border: none;
}


.card-body {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 15px;
}

.carousel-footer {
    display: flex !important;
    padding: 0 20px;
    justify-content: space-between;
    height: 40px;

    p {
        font-family: 'Poppins';
        font-size: 1em;
        color: #3C46A7;
    }

    div {
        button {
            width: 10px !important;
            height: 10px !important;
            background-color: #EFEFEF;
            border: none !important;
            opacity: 1 !important;
            border-radius: 5px;
        }

        button:nth-of-type(2) {
            margin: 0 10px;
        }

        button:nth-of-type(3) {
            margin-right: 10px;
        }

        .active {
            background-color: $flyingdarts-secundary !important;
        }
    }
}

.form-check-input:checked, .form-check-input:focus {
    background-color: $flyingdarts-secundary;
    border-color: $flyingdarts-secundary;
    box-shadow: none;
}

a {
    color: $flyingdarts-secundary;
}
.registration-step-create-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    .profile-form-description {
        text-align: center;
        font-size: 12px;
    }
}