<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Name</th>
                        <th>Avg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players">
                        <td>
                            <span class="fi fi-{{player.country}}"></span> <span
                                class="fi fi-{{player.country}} fis"></span>
                            <span class="flag-icon flag-icon- flag-icon-squared"></span>
                        </td>
                        <td>{{player.id}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mx-5">
                <button type="button" class="btn btn-primary" (click)="joinLobby()">Join lobby</button>
                <button type="button" class="btn btn-primary mx-1" (click)="createPlayerRoom()">Create room</button>
                <button type="button" class="btn btn-primary mx-1" (click)="signOut()">Sign out</button>
            </div>
        </div>
    </div>
</div> -->

<div class="lobby-container container-fluid px-0">

    <div class="lobby-game-modes row">
        <div class="col-lg-3 col-md-6 col-sm-12 px-0">
            <div class="lobby-card-inner">
                <div class="lobby-card card card-friends">
                    <p>Play with friends</p>
                    <ng-lottie [options]="lottieOptions" (animationCreated)="onAnimate($event)">
                    </ng-lottie>
                    <p class="subtitle">Try it out now!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 px-0" (click)="createRoom()">
            <div class="lobby-card-inner">
                <div class="lobby-card card card-solo">
                    <div class="lobby-card-content">
                        <p>1v1</p>
                        <ng-lottie [options]="lottieOptions" (animationCreated)="onAnimate($event)">

                        </ng-lottie>
                    </div>
                    <div class="d-flex w-100 solo-beuter">
                        <p>Level: <strong>23</strong></p>
                        <p>Average score: <strong>60</strong></p>
                        <p>Highest checkout: <strong>139</strong></p>
                        <p>Matches played: <strong>35</strong></p>
                    </div>
                    <div [class.loading-hidden]="shouldHideLoader" class="loading-div">
                        <app-loading></app-loading>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 px-0">
            <div class="lobby-card-inner">
                <div class="lobby-card card card-question">
                    <label for="privateRoom" class="form-label my-room-form-label">Create a room for you and your
                        opponent!</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text my-room-form-label-tiny" id="basic-addon3">Room name</span>
                        <input class="form-control" type="text" id="privateRoom" [formControl]="privateRoomId"
                            aria-describedby="basic-addon3" />
                        <button class="btn btn-primary btn-secundary-color" (click)="joinRoom()">Go!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>