.flyingdarts-login-main {
    .registration-title {
        font-size: 2em;
        margin-top: 20px;
    }

    .registration-subtitle {
        font-size: 1.2em;
    }

    .socials-button {
        background: #3c46a7;
        border-radius: 10px;
        margin: 15px 0;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 40px 20px;

        :hover {
            color: white;
            background: #303886;
        }

        :disabled {
            background: #3c46a7;
            color: #3c46a7;

            :hover {
                background: #3c46a7;
                color: #3c46a7;
            }
        }

        .socials-button-subtitle {
            font-size: 0.7em;
        }
    }
}

.my-sign-in-header {
    width: unset !important;
    margin: 0 0 10px 0;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    /* background-color: var(--form-background); */
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: start !important;
    color: currentColor;
    width: 20px;
    height: 16px;
    border: 1px solid #f9617d;
    border-radius: 4px;
    display: flex;
    align-self: start;
    place-content: center;
    margin-right: 15px;
    margin-top: 2px;
    padding-top: 2px;
    align-self: center;
}

input[type="checkbox"]:hover {
    color: #d92079;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    background-color: #f9617d;
}

.checkbox-control {
    background-color: #4c56c0;
    border: none;
    color: white;
    display: flex;
    font-size: 10px;
    line-height: 16px;
    padding: 0;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.checkbox-control a {
    color: #f9617d;
    font-weight: 500;
    text-decoration: underline;
}

.checkbox-control a:hover {
    color: #d92079;
}

input[type="checkbox"]:focus {
    /*outline: max(2px, 0.15em) solid currentColor;*/
    /*outline-offset: max(2px, 0.15em);*/
}

input[type="checkbox"]:disabled {
    /*    --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);*/
    cursor: not-allowed;
}

.flyingdarts-mobile-container {
    color: white;
    background: #4c56c0;
    align-items: center;
    padding: 0 20px !important;
    align-self: center;
    height: 100%;
    display: grid;
    align-content: center;
}

.flyingdarts-login-main {
    width: 100%;
}

.flyingdarts-login-container {
    height: 100%;
    width: 100%;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .flyingdarts-login-container {
        display: block !important;
        box-sizing: unset !important;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* Media Query for Large screens */
@media (min-width: 1281px) {}