<div class="container body-content">
    <div class="card">
        <div class="card-body">
            <div class="container px-0">
                <div class="flyingdarts-login-container d-flex">
                    <div class="col-sm-0 col-md-12 col-lg-8 top-container">
                        <app-carousel></app-carousel>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 p-0 flyingdarts-mobile-container">
                        <h1 class="fw-bold my-sign-in-header">Flyingdarts</h1>
                        <amplify-authenticator>
                            <ng-template amplifySlot="sign-up-form-fields" let-validationErrors="validationErrors">

                                <!-- Re-use default `Authenticator.SignUp.FormFields` -->
                                <amplify-sign-up-form-fields></amplify-sign-up-form-fields>

                                <!-- Append & require Terms & Conditions field to sign up -->
                                <amplify-checkbox class="my-amplify-checkbox checkbox-control"
                                    [errorMessage]="validationErrors.acknowledgement"
                                    [hasError]="!!validationErrors.acknowledgement" name="acknowledgement" value="yes">
                                    <span>
                                        By clicking Confirm, you agree to our <a href="#">Terms of Service</a>
                                        and <a href="#">Privacy policy</a>
                                    </span>
                                </amplify-checkbox>
                            </ng-template>
                        </amplify-authenticator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>