<div id="authForm" class="input-group">
    <input type="hidden" id="MyCode" value="@ViewBag.Code" />
    <div class="input-group">
        <input id="submitBtn" type="submit" class="btn btn-primary my-primary-button" Value="Confirm" />
    </div>
    <label class="form-control checkbox-control">
        <input id="checkBoxAccept" type="checkbox" name="checkbox-checked" />
        <span>
            By clicking Confirm, you agree to our <a href="#">Terms of Service</a>
            and <a href="#">Privacy policy</a>
        </span>
    </label>
</div>