<div class="fd-flex fd-justify-between fd-settings-header">
  <i class="bi bi-arrow-left fd-settings-back" (click)="onBack()"></i>
</div>

<h2 class="fd-fw-bold fd-mt-5 fd-settings-title">
  configure<br />game<br />
</h2>

<div class="fd-flex fd-items-center">
  <p class="fd-me-2">sets</p>
  <button id="setMinus" type="button" class="circle-button" (click)="action('decrease', 'sets')">
    <i class="bi bi-dash"></i>
  </button>
  <p id="setCount" class="fd-mx-2">{{ preferredX01Sets | async }}</p>
  <button id="setPlus" type="button" class="circle-button" (click)="action('increase', 'sets')">
    <i class="bi bi-plus"></i>
  </button>
</div>
<div class="fd-flex fd-mb-5 fd-items-center">
  <p class="fd-me-2 fd-mb-0">legs</p>
  <button id="legMinus" type="button" class="circle-button" (click)="action('decrease', 'legs')">
    <i class="bi bi-dash"></i>
  </button>
  <p id="legCount" class="fd-mx-2 fd-mb-0">{{ preferredX01Legs | async }}</p>
  <button id="legPlus" type="button" class="circle-button" (click)="action('increase', 'legs')">
    <i class="bi bi-plus"></i>
  </button>
</div>
<div class="fd-flex">
  <button type="button" class="fd-btn fd-btn-primary fd-mt-2" (click)="onBack()">save</button>
</div>
