@import './colors.scss';

.btn-secundary-color {
    background: $flyingdarts-secundary;
    border: 1px solid $flyingdarts-secundary
}

.btn-secundary-color:hover {
    background: $flyingdarts-secundary;
    border: 1px solid $flyingdarts-secundary
}

