<div class="fd-friends-nav fd-mb-4">
  <ul class="fd-friends-nav__list">
    <li class="fd-friends-nav__item">
      <a
        class="fd-friends-nav__link"
        routerLink="/friends"
        routerLinkActive="fd-friends-nav__link--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="bi bi-people fd-me-2"></i> My Friends
      </a>
    </li>
    <li class="fd-friends-nav__item">
      <a class="fd-friends-nav__link" routerLink="/friends/requests" routerLinkActive="fd-friends-nav__link--active">
        <i class="bi bi-inbox fd-me-2"></i> Requests
        @if (pendingRequestsCount > 0) {
          <span class="fd-friends-nav__badge">{{ pendingRequestsCount }}</span>
        }
      </a>
    </li>
    <li class="fd-friends-nav__item">
      <a class="fd-friends-nav__link" routerLink="/friends/add" routerLinkActive="fd-friends-nav__link--active">
        <i class="bi bi-person-plus fd-me-2"></i> Add Friend
      </a>
    </li>
  </ul>
</div>
