<app-winner-popup
  [winnerName]="winnerName"
  [winnerText]="winnerText"
  (handleCloseEvent)="closePopup()"
></app-winner-popup>

<!-- Debug Component -->
<!-- <app-game-debug></app-game-debug> -->

<div id="gameContainer">
  @if (isDesktopLayout()) {
    <div class="fd-game-row">
      <div class="fd-game-col-score">
        <app-game-stats></app-game-stats>
        <div class="fd-mb-2">
          <app-game-input
            [shouldDisableControls]="shouldDisableControls"
            [canCheckOut]="canCheckOut"
            (checkHandler)="check()"
            (okHandler)="ok()"
            (noScoreHandler)="noScore()"
            (clearScoreHandler)="clear()"
            (inputScoreHandler)="inputScore($event)"
            (quickScoreHandler)="quickScore($event)"
          >
          </app-game-input>
        </div>
      </div>

      <div class="fd-game-col-meet">
        <app-meeting
          meetingId="replace-with-meeting-id"
          [isVisible]="showMeeting"
          [isPlayerTurn]="isPlayerTurn"
        ></app-meeting>
      </div>
    </div>
  }

  @if (isMobileLayout()) {
    <div class="fd-game-stack">
      <div class="fd-flex-shrink-0">
        <app-game-stats></app-game-stats>
      </div>

      <div class="fd-game-grow">
        <div class="fd-game-grow-block">
          <app-meeting
            meetingId="replace-with-meeting-id"
            [isVisible]="showMeeting && shouldShowMeeting()"
          ></app-meeting>
        </div>

        @if (shouldShowGameControls()) {
          <div class="fd-game-grow fd-justify-end">
            <app-game-input
              [shouldDisableControls]="shouldDisableControls"
              [canCheckOut]="canCheckOut"
              (checkHandler)="check()"
              (okHandler)="ok()"
              (noScoreHandler)="noScore()"
              (clearScoreHandler)="clear()"
              (inputScoreHandler)="inputScore($event)"
              (quickScoreHandler)="quickScore($event)"
            >
            </app-game-input>
          </div>
        }
      </div>
    </div>
  }

  @if (shouldShowFallbackLayout()) {
    <div class="fd-game-stack">
      <div class="fd-flex-shrink-0">
        <app-game-stats></app-game-stats>
      </div>

      <div class="fd-game-grow">
        <div class="fd-game-grow-block">
          <app-meeting meetingId="replace-with-meeting-id" [isVisible]="showMeeting"></app-meeting>
        </div>
        <div class="fd-flex-shrink-0 fd-mt-2">
          <app-game-input
            [shouldDisableControls]="shouldDisableControls"
            [canCheckOut]="canCheckOut"
            (checkHandler)="check()"
            (okHandler)="ok()"
            (noScoreHandler)="noScore()"
            (clearScoreHandler)="clear()"
            (inputScoreHandler)="inputScore($event)"
            (quickScoreHandler)="quickScore($event)"
          >
          </app-game-input>
        </div>
      </div>
    </div>
  }
</div>
